<div class="modal fade" id="modalAtualizarParametrizacao" tabindex="-1" data-focus-on="input:first" role="dialog" aria-labelledby="modalAtualizarParametrizacao-label">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalAtualizarParametrizacao-label">Atualizar Parametrização</h4>
            </div>
            <div class="modal-body" style="padding-bottom:70px;">              
                <div class="row margT30">
                    <div class="col-md-12 text-center">
                        <h4 >Parametrização de NL atualizada com sucesso!</h4>
                    </div>            
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-sm" onclick="FechaModal('#modalAtualizarParametrizacao')"><i class="glyphicon glyphicon-ok"></i> OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
