<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--<add name="SGGH"
         connectionString="Server=SANTAINES-SQL1;Database=Dbsids;User Id=ususids;Password=8%(ud3)2t;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>-->

    <add name="SGGH" connectionString="Server=10.200.142.178;Database=dbSIDS;User Id=INTEGRADERDES;Password=INTEGRADERPWD;" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
  </connectionStrings>
  <appSettings>
    <add key="WSURL" value="siafemProd" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </appSettings>
  <system.net>
    <defaultProxy xdt:Transform="InsertIfMissing">
      <proxy proxyaddress="http://10.1.6.20:80" bypassonlocal="True" usesystemdefault="False" />
      <bypasslist>
        <add address="10\.\d{1,3}\.\d{1,3}\.\d{1,3}"/>
      </bypasslist>
    </defaultProxy>
  </system.net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" defaultRedirect="~/Error" xdt:Transform="Replace"/>
  </system.web>
</configuration>