<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="SGGH"
         connectionString="Server=10.200.142.178;Database=dbSIDS;User Id=INTEGRADERDES;Password=INTEGRADERPWD;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>
  <!--<appSettings>
    <add key="WSURL" value="siafemProd" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" defaultRedirect="~/Error" xdt:Transform="Replace"/>
  </system.web>-->
</configuration>