@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-light-webfont.woff') format('woff'), url('../fonts/opensans-light-webfont.ttf') format('truetype'), url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style-type: none;
}

body {
    background-color: #EEEEEE;
}



.content-mesenger-error {
    display: block;
    width: 620px;
    height: 223px;
    background: url('../Images/computer-error-mesenger.png') no-repeat 0 center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -111px;
    margin-left: -310px;
}

    .content-mesenger-error .mesenger {
        display: block;
        width: 320px;
        float: right;
    }

        .content-mesenger-error .mesenger h2, .content-mesenger-error .mesenger p {
            font-family: 'open_sanslight';
            color: #999999;
            font-size: 18px;
        }

        .content-mesenger-error .mesenger h2 {
            display: block;
            margin-bottom: 10px;
            font-family: 'open_sanslight';
            font-size: 70px;
        }
