
<div class="modal fade" id="modalDadosEmpenhoSIAFEM" tabindex="-1" role="dialog" data-focus-on="input:first" aria-labelledby="modalDadosEmpenhoSIAFEM-label">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalConsultaContrato-label">Dados do Empenho SIAFEM</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Data da Emissão</label>
                        <input type="text" id="txtDataEmissao" class="form-control data datepicker data" disabled  />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Data da Lançamento</label>
                        <input type="text" id="txtDataELancamento" class="form-control data datepicker data" disabled  />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Nº do Empenho</label>
                        <input type="text" id="txtNumEmpenho" class="form-control" disabled  />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label">Unidade Gestora</label>
                        <input type="text" id="txtUnidadeGestora" class="form-control" disabled  />
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Gestão</label>
                        <input type="text" id="txtGestao" class="form-control" disabled  />
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-9">
                        <label class="control-label">CGC / CPF / UG Credor</label>
                        <input type="text" id="txtCnpjCpfCredor" class="form-control" disabled  />
                    </div>

                </div>

                <div class="row ">

                    <div class="col-md-2" style="width:20%;">
                        <label class="control-label">Gestão Credor</label>
                        <input type="text" id="txtGestaoCredor" class="form-control" disabled />
                    </div>
                    
                    <div class="col-md-2">
                        <label class="control-label">Evento</label>
                        <input type="text" id="txtEvento" class="form-control" disabled />
                    </div>

                    <div class="col-md-2">
                        <label class="control-label">PTRES</label>
                        <input type="text" id="txtPtres" class="form-control" disabled  />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">UO</label>
                        <input type="text" id="txtUo" class="form-control" disabled  />
                    </div>
                    <div class="col-md-4" style="width:28%">
                        <label class="control-label">Programa de Trabalho</label>
                        <input type="text" id="txtPrograma" class="form-control" disabled />
                    </div>

                </div>

                <div class="row ">
                    <div class="col-md-3">
                        <label class="control-label">Fonte do Recurso</label>
                        <input type="text" id="txtFonte" class="form-control" disabled />
                    </div>
                    <div class="col-md-3 ">
                        <label class="control-label">Natureza da Despesa</label>
                        <input type="text" id="txtNaturezaDespesa" class="form-control" disabled  />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">UGO</label>
                        <input type="text" id="txtUgo" class="form-control" disabled />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Plano Interno</label>
                        <input type="text" id="txtPlanoInterno" class="form-control" disabled />
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-2">
                        <label class="control-label">Acordo</label>
                        <input type="text" id="txtAcordo" class="form-control" disabled />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Modalidade</label>
                        <input type="text" id="txtModalidade" class="form-control" disabled />
                    </div>

                    <div class="col-md-3">
                        <label class="control-label">Licitação</label>
                        <input type="text" id="txtLicitacao" class="form-control" disabled />
                    </div>
                    <div class="col-md-2" style="width:20%;">
                        <label class="control-label">Referência Legal</label>
                        <input type="text" id="txtRefLegal" class="form-control" disabled  />
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-2" style="width:20%;">
                        <label class="control-label">Origem Material</label>
                        <input type="text" id="txtOrigemMarterial" class="form-control" disabled />
                    </div>

                    <div class="col-md-3">
                        <label class="control-label">Número Processo</label>
                        <input type="text" id="txtProcesso" class="form-control" disabled />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Empenho Original</label>
                        <input type="text" id="txtEmpenhoOriginal" class="form-control" disabled />
                    </div>

                    <div class="col-md-3">
                        <label class="control-label">Número Oferta Compra</label>
                        <input type="text" id="txtOc" class="form-control" disabled  />
                    </div>
                    <div class="col-md-2" style="width:20%;">
                        <label class="control-label">Número Contrato</label>
                        <input type="text" id="txtContrato" class="form-control" disabled  />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Identificador Obra</label>
                        <input type="text" id="txtObra" class="form-control" disabled  />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">C.E.</label>
                        <input type="text" id="txtCe" class="form-control" disabled />
                    </div>

                    <div class="col-md-2">
                        <label class="control-label">Valor</label>
                        <input type="text" id="txtValor" class="form-control" disabled />
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-5">
                        <label class="control-label">Local de Entrega</label>
                        <input type="text" id="txtLocalEntrega" class="form-control" disabled />
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Tipo de Empenho</label>
                        <input type="text" id="txtTipo" class="form-control"  disabled />
                    </div>
                </div>
                <br>
                <div class="row ">
                    <div class="col-md-12">
                        <button class="btn btn-sm btn-primary" data-dismiss="modal" onclick="$('#modalConsultaEmpenhos').modal('toggle');"><i class="fa fa-arrow-left"></i> Voltar</button>
                        <button class="btn btn-sm btn-warning" onclick="carregaDadosEmpenhoSIAFEM();" data-dismiss="modal">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
