<div id="modalMessage" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div id="container" class="alert alert-warning alert-dismissible" role="document">
        <button type="button" class="close" ><span>&times;</span></button>
        <strong><span id="Message"></span></strong> <span id="value"><i class="fa fa-check text-success"></i></span>
    </div>
</div><!-- /.modal -->
