<div class="modal fade scroll" id="modalConsultaPorEstrutura" tabindex="-1" data-focus-on="input:first" role="dialog" aria-labelledby="modalConsultaContrato-label">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content scroll">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalConsultaPorEstrutura-label">Reservas por CFP/CED - Orgão</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Ano</label>
                        <input id="txtAno" type="text" class="form-control" readonly="True" />
                    </div>

                    <div class="col-md-3">
                        <label class="control-label">Orgão</label>
                        <input id="txtOrgao" type="text" class="form-control" readonly="True" />
                    </div>

                    <div class="col-md-6">
                        <label class="control-label">CFP</label>
                        <input id="txtEstrutura" type="text" class="form-control" readonly="True" />
                    </div>
                </div>
                                    
               
                <div class="row margT0">
                    <div class="col-md-12">
                        <h3 class="margT10 tituloItensPagina">Resultado da Busca</h3>
                        <hr class="margT0">
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <table id="tblListaEstrutura" class="table table-condensed table-striped table-responsive small">
                            <thead>
                            <tr>
                                <th class="text-center">Nº Res.</th>
                                @*<th class="text-center">Nº Res.</th>
                                    <th class="text-center">CED</th>
                                    <th class="text-right">Cod. Apl.</th>
                                    <th class="text-center">Dt. Inicial</th>
                                    <th class="text-right">Valor Atual</th>
                                    <th class="text-right">Valor Empenhado</th>
                                    <th class="text-right">Disp. A Empenhar</th>
                                    <th class="text-center"></th>*@
                            </tr>
                            </thead>
                            <tbody class="text-right"></tbody>   @*Body preenchido no javascript : Consulta.js*@
                        </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
