<div class="modal fade scroll" id="modalDadosEmpenho" tabindex="-1" role="dialog" data-focus-on="input:first" aria-labelledby="modalConsultaContrato-label">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalConsultaContrato-label">Dados do Empenho</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Nº do Empenho</label>
                        <input id="txtNumEmpenho" type="text" class="form-control" disabled />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Nº do Processo</label>
                        <input id="txtNumProcesso" type="text" class="form-control" disabled />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">NE SIAFEM</label>
                        <input id="txtNeSiafem" type="text" class="form-control" disabled />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Fonte SIAFEM</label>
                        <input id="txtFonteSiafem" type="text" class="form-control" disabled  />
                    </div>
                </div>
                <div class="row margT10">
                    <div class="col-md-7">
                        <label class="control-label">CFP / CED</label>
                        <input id="txtCfp" type="text" class="form-control" disabled  />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Código da Aplicação</label>
                        <input id="txtNumAplicacao" type="text" class="form-control" disabled />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Código da Obra</label>
                        <input id="Obra" type="text" class="form-control" disabled  />
                    </div>
                </div>
                <div class="row margT10">
                    <div class="col-md-3">
                        <label class="control-label">Data da Emissão</label>
                        <input id="txtDataEmissao" type="text" class="form-control data" disabled  />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Previsão Inicial</label>
                        <input id="txtPrevisaoInicio" type="text" class="form-control" disabled />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Destino do Recurso</label>
                        <input id="txtDestino" type="text" class="form-control" disabled />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Origem do Recurso</label>
                        <input id="txtOrigem" type="text" class="form-control" disabled  />
                    </div>
                </div>
                <div class="row margT10">
                    <div class="col-md-3">
                        <label class="control-label">Valor</label>
                        <input id="txtValor" type="text" class="form-control" disabled  />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Valor do Reforço</label>
                        <input id="txtValorReforco" type="text" class="form-control" disabled />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Valor Anulado</label>
                        <input  id="txtValorAnulado" type="text" class="form-control" disabled  />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Valor Subempenhado</label>
                        <input id="txtValorSubmpenhado" type="text" class="form-control" disabled  />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Saldo do Empenho</label>
                        <input id="txtSaldoEmpenho" type="text" class="form-control" disabled />
                    </div>
                </div>
                <div class="row margT10">
                    <div class="col-md-3">
                        <label class="control-label">Nº do Contrato</label>
                        <input id="txtNumContrato" type="text" class="form-control" disabled  />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Nº Seq. TAM.</label>
                        <input id="txtSeqTam" type="text" class="form-control" disabled  />
                    </div>
                </div>
                <div class="row margT10">
                    <div class="col-md-12">
                        <h3 class="margT10 tituloItensPagina">Saldos</h3>
                        <hr class="margT0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Quota 1</label>
                        <input id="txtQuota1" type="text" class="form-control" disabled  />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Quota 2</label>
                        <input id="txtQuota2" type="text" class="form-control" disabled  />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Quota 3</label>
                        <input id="txtQuota3" type="text" class="form-control" disabled  />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Quota 4</label>
                        <input id="txtQuota4" type="text" class="form-control" disabled  />
                    </div>
                </div>
                <div class="row margT10">
                    <div class="col-md-12">
                        <h3 class="margT10 tituloItensPagina">Credor</h3>
                        <hr class="margT0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">CNPJ</label>
                        <input id="txtCNPJ" type="text" class="form-control" disabled />
                    </div>
                    <div class="col-md-5">
                        <label class="control-label">Credor</label>
                        <input id="txtCredor" type="text" class="form-control"  disabled />
                    </div>
                </div>
                <div class="row margT10">
                    <div class="col-md-6">
                        <label class="control-label">Endereço</label>
                        <input id="txtEndereco" type="text" class="form-control" disabled />
                    </div>
                    <div class="col-md-5">
                        <label class="control-label">Bairro</label>
                        <input id="txtBairro"  type="text" class="form-control"  disabled />
                    </div>
                </div>
                <div class="row margT10">
                    <div class="col-md-6">
                        <label class="control-label">Município</label>
                        <input id="txtMunicipio"  type="text" class="form-control"  disabled />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Estado</label>
                        <input id="txtEstado"  type="text" class="form-control"  disabled />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">CEP</label>
                        <input id="txtCEP" type="text" class="form-control"  disabled />
                    </div>
                </div>
                <div class="row margT10">
                    <div class="col-md-12">
                        <h3 class="margT10 tituloItensPagina">Especificação de Despesa</h3>
                        <hr class="margT0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">Especificação</label>
                        <textarea id="txtEspecificacao" class="form-control" rows="5" disabled>
                            
                        </textarea>
                    </div>
                </div>
                <div class="row margT10">
                    <div class="col-md-12">
                        <button class="btn btn-sm btn-primary" onclick="dadosContrato('modalDadosEmpenho')"><i class="fa fa-arrow-left"></i> Voltar</button>
                        <button class="btn btn-sm btn-warning" onclick="ConfirmarEmpenho()" data-dismiss="modal">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
