<div class="modal fade" id="modalDocumentoGerador" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModal-label">Cancelamento de Ordem de Pagamento / Bloqueio de Pagamento</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Documento Gerador</h4>
                        <hr class="margT0" />
                    </div>
                </div>
                <input type="hidden" id="CanOPId" />
                <input type="hidden" id="CanOPTipoId" />
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Tipo de Documento</label>
                        <input type="text" class="form-control" id="outTipoDoc" disabled />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Nº Documento</label>
                        <input type="text" class="form-control" id="outNumDoc" disabled />
                    </div>
                    <div class="col-md-3 form-inline margT20 padR5">
                        <label class="control-label">Deseja bloquear documento?</label>
                        <input type="checkbox" id="CanOPBloqueio" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Tipo de Bloqueio</label>
                        <select class="form-control" id="CanOPTipoBloqueio">
                            <option value="">Selecione</option>
                            <option value="11">11- Debitos a Apurar</option>
                            <option value="12">12- Rescisão Contratual Em Andamento</option>
                            <option value="13">13- Procuração em Revogação</option>
                            <option value="14">14- Banco não Cadastrado</option>
                            <option value="15">15-Despesa Não Incluida na Programação</option>
                            <option value="21">21- Caução em Dinheiro</option>
                            <option value="22">22- Debitos a Recolher</option>
                            <option value="23">23- Documento a ser Anulado</option>
                            <option value="24">24- Imposto de Renda a Recolher</option>
                            <option value="31">31- Pagamentos a Terceiros por Procuração</option>
                            <option value="41">41- Retenção Justiça do Trabalho</option>
                            <option value="42">42- Retenção Poder Judiciário</option>
                            <option value="43">43-Penhoras Efetuadas</option>
                            <option value="97">97- Documentos Bloqueados</option>
                            <option value="98">98- No Desdobramento Consta Credor Bloqueado</option>
                            <option value="99">99- Bloqueios para Desdobramento</option>
                        </select>
                    </div>
                </div>
                <div class="row margT10">
                    <div class="col-md-3">
                        <label class="control-label">Tipo de Despesa</label>
                        <input type="text" class="form-control" id="outTipoDespesa" disabled />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Credor Original</label>
                        <input type="text" class="form-control" id="outCredorOriginal" disabled />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Valor</label>
                        <input type="text" class="form-control" id="outValor" disabled />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Referência</label>
                        <input type="text" class="form-control" id="outReferencia" disabled />
                    </div>
                </div>
                <div class="row margT10">
                    <div class="col-md-4">
                        <label class="control-label">Nº Contrato</label>
                        <input type="text" class="form-control" id="outNumContrato" disabled />
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Vencimento</label>
                        <input type="text" class="form-control" id="outVencimento" disabled />
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Número Base da OP</label>
                        <input type="text" class="form-control" id="outNumBaseOP" disabled />
                    </div>

                </div>

                <div class="row margT20">
                    <div class="col-md-12">
                        <table id="tbllistaDocumentoGerador" class="table table-condensed table-striped table-responsive small">
                            <thead>
                                <tr>
                                    <th>Seq.</th>
                                    <th>Credor</th>
                                    <th>Valor</th>
                                    <th>Banco</th>
                                    <th>Agência</th>
                                    <th>Nº da Conta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="row01">
                                    <td id="outSequencia_01"></td>
                                    <td id="outCredorDesd_01"></td>
                                    <td id="outValorDesd_01"></td>
                                    <td id="outBancoDesd_01"></td>
                                    <td id="outAgenciaDesd_01"></td>
                                    <td id="outContaDesd_01"></td>
                                </tr>
                                <tr id="row2">
                                    <td id="outSequencia_02"></td>
                                    <td id="outCredorDesd_02"></td>
                                    <td id="outValorDesd_02"></td>
                                    <td id="outBancoDesd_02"></td>
                                    <td id="outAgenciaDesd_02"></td>
                                    <td id="outContaDesd_02"></td>
                                </tr>
                                <tr id="row03">
                                    <td id="outSequencia_03"></td>
                                    <td id="outCredorDesd_03"></td>
                                    <td id="outValorDesd_03"></td>
                                    <td id="outBancoDesd_03"></td>
                                    <td id="outAgenciaDesd_03"></td>
                                    <td id="outContaDesd_03"></td>
                                </tr>
                                <tr id="row04">
                                    <td id="outSequencia_04"></td>
                                    <td id="outCredorDesd_04"></td>
                                    <td id="outValorDesd_04"></td>
                                    <td id="outBancoDesd_04"></td>
                                    <td id="outAgenciaDesd_04"></td>
                                    <td id="outContaDesd_04"></td>
                                </tr>
                                <tr id="row05">
                                    <td id="outSequencia_05"></td>
                                    <td id="outCredorDesd_05"></td>
                                    <td id="outValorDesd_05"></td>
                                    <td id="outBancoDesd_05"></td>
                                    <td id="outAgenciaDesd_05"></td>
                                    <td id="outContaDesd_05"></td>
                                </tr>
                                <tr id="row06">
                                    <td id="outSequencia_06"></td>
                                    <td id="outCredorDesd_06"></td>
                                    <td id="outValorDesd_06"></td>
                                    <td id="outBancoDesd_06"></td>
                                    <td id="outAgenciaDesd_06"></td>
                                    <td id="outContaDesd_06"></td>
                                </tr>
                                <tr id="row07">
                                    <td id="outSequencia_07"></td>
                                    <td id="outCredorDesd_07"></td>
                                    <td id="outValorDesd_07"></td>
                                    <td id="outBancoDesd_07"></td>
                                    <td id="outAgenciaDesd_07"></td>
                                    <td id="outContaDesd_07"></td>
                                </tr>
                                <tr id="row08">
                                    <td id="outSequencia_08"></td>
                                    <td id="outCredorDesd_08"></td>
                                    <td id="outValorDesd_08"></td>
                                    <td id="outBancoDesd_08"></td>
                                    <td id="outAgenciaDesd_08"></td>
                                    <td id="outContaDesd_08"></td>
                                </tr>
                                <tr id="row09">
                                    <td id="outSequencia_09"></td>
                                    <td id="outCredorDesd_09"></td>
                                    <td id="outValorDesd_09"></td>
                                    <td id="outBancoDesd_09"></td>
                                    <td id="outAgenciaDesd_09"></td>
                                    <td id="outContaDesd_09"></td>
                                </tr>
                                <tr id="row10">
                                    <td id="outSequencia_10"></td>
                                    <td id="outCredorDesd_10"></td>
                                    <td id="outValorDesd_10"></td>
                                    <td id="outBancoDesd_10"></td>
                                    <td id="outAgenciaDesd_10"></td>
                                    <td id="outContaDesd_10"></td>
                                </tr>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12 text-left">
                        <button class="btn btn-sm btn-primary" onclick="FecharModal('#modalDocumentoGerador')"><i class="fa fa-arrow-left"></i> Voltar</button>
                        <button class="btn btn-sm btn-success botaoTransmitirModal" id="transmitirCancelamento"><span class="glyphicon glyphicon-share-alt"></span> Transmitir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
