<!-- Modal Informação da PD -->
<div class="modal fade" id="_modalVisualizarDetalhesPD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Informações da PD</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group-sm col-md-3">
                        <label>Número da PD</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="NumPD" />
                    </div>
                    <div class="form-group-sm col-md-3">
                        <label>Lançamento Em:</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="DataLanc" />
                    </div>
                    <div class="form-group-sm col-md-3">
                        <label>Usuário</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="Usuario" />
                    </div>
                </div>
                <div class="row margT10">
                    <div class="form-group-sm col-md-3">
                        <label>Unidade Gestora</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="UG" />
                    </div>
                    <div class="form-group-sm col-md-3">
                        <label>Gestão</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="Gestao" />
                    </div>
                    <div class="form-group-sm col-md-3">
                        <label>Emissão</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="DataEmissao" />
                    </div>
                    <div class="form-group-sm col-md-3">
                        <label>Vencimento</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="DataVencimento" />
                    </div>
                </div>
                <div class="row margT10">
                    <div class="form-group-sm col-md-3">
                        <label>Nº Lista</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="Lista" />
                    </div>
                    <div class="form-group-sm col-md-3">
                        <label>Processo</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="Processo" />
                    </div>
                    <div class="form-group-sm col-md-3">
                        <label>Finalidade</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="Finalidade" />
                    </div>
                    <div class="form-group-sm col-md-3">
                        <label>NL Referência</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="NLRef" />
                    </div>
                </div>
                <div class="row margT10">
                    <div class="form-group-sm col-md-3">
                        <label>Status</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="Status" />
                    </div>
                    <div class="form-group-sm col-md-3">
                        <label>Data do Pagamento</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="DataLanc" />
                    </div>
                    <div class="form-group-sm col-md-3">
                        <label>Nº OB</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="OB" />
                    </div>
                </div>

                <div class="row margT20">
                    <div class="col-md-12">
                        <p><strong>Conta Pagadora</strong></p>
                    </div>
                </div>

                <div class="row margT10">
                    <div class="form-group-sm col-md-3">
                        <label>Unidade Gestora</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="UGPagadora" />
                    </div>
                    <div class="form-group-sm col-md-3">
                        <label>Gestão</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="GestaoPagadora" />
                    </div>
                    <div class="form-group-sm col-md-2">
                        <label>Banco</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="BancoPagador" />
                    </div>
                    <div class="form-group-sm col-md-2">
                        <label>Agencia</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="AgenciaPagadora" />
                    </div>
                    <div class="form-group-sm col-md-2">
                        <label>Conta</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="ContaCorrentePagadora" />
                    </div>
                </div>

                <div class="row margT20">
                    <div class="col-md-12">
                        <p><strong>Conta Favorecido</strong></p>
                    </div>
                </div>

                <div class="row margT10">
                    <div class="form-group-sm col-md-3">
                        <label>CNPJ/CPF/UG</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="CGC_CPF_UG_Favorecida" />
                    </div>
                    <div class="form-group-sm col-md-3">
                        <label>Gestão</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="GestaoFavorecido" />
                    </div>
                    <div class="form-group-sm col-md-2">
                        <label>Banco</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="BancoFavorecido" />
                    </div>
                    <div class="form-group-sm col-md-2">
                        <label>Agencia</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="AgenciaFavorecido" />
                    </div>
                    <div class="form-group-sm col-md-2">
                        <label>Conta</label>
                        <input type="text" class="form-control" disabled="disabled" data-id="ContaCorrenteFavorecido" />
                    </div>
                </div>

                <div class="row margT10">
                    <div class="col-md-12">
                        <table class="table table-bordered table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>Evento</th>
                                    <th>Inscricao do Evento</th>
                                    <th>Classificação</th>
                                    <th>Fonte</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-id="Evento1"></td>
                                    <td data-id="InscricaoEvento1"></td>
                                    <td data-id="Classificacao1"></td>
                                    <td data-id="Fonte1"></td>
                                    <td data-id="Valor1"></td>
                                </tr>
                                <tr>
                                    <td data-id="Evento2"></td>
                                    <td data-id="InscricaoEvento2"></td>
                                    <td data-id="Classificacao2"></td>
                                    <td data-id="Fonte2"></td>
                                    <td data-id="Valor2"></td>
                                </tr>
                                <tr>
                                    <td data-id="Evento3"></td>
                                    <td data-id="InscricaoEvento3"></td>
                                    <td data-id="Classificacao3"></td>
                                    <td data-id="Fonte3"></td>
                                    <td data-id="Valor3"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Informação da PD -->
