
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/Error.css" rel="stylesheet" />
<script>
    var obj = "Home";

    $(".conteudo").css("min-height", (screen.height - 350) + "px");
</script>
<div class="content-mesenger-error">
    <div class="mesenger">
        <h2>Ops!</h2>
        <p>
            <strong>Desculpe pelo transtorno</strong>, ocorreu um erro inesperado, por favor contate o administrador do sistema.
        </p>
    </div>
</div>