
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/Error.css" rel="stylesheet" />
<script>
    var obj = "Home";
</script>
    <div class="content-mesenger-error">
        <div class="mesenger">
            <h2>Error 404!</h2>
            <p>
                <strong>Desculpe pelo transtorno</strong>, Pagina não encontrada, por favor contate o administrador do sistema.
            </p>
        </div>
    </div>

