
<div class=" form-group-sm form-group has-feedback  boleto">
    <div class="col-sm-12 col-lg-1 col-md-1  form-group-sm form-group has-feedback  boleto">
        <div class="input-group-sm">
            <input type="text" id="NumeroBoleto1" class="form-control lockSiafem numeros barras" maxlength="5" />
        </div>
    </div>

    <div class="col-sm-12 col-lg-1 col-md-1  form-group-sm form-group has-feedback  boleto">
        <div class="input-group-sm">

            <input type="text" id="NumeroBoleto2" class="form-control lockSiafem numeros barras" maxlength="5" />

        </div>
    </div>

    <div class="col-sm-12 col-lg-1 col-md-1  form-group-sm form-group has-feedback  boleto">
        <div class="input-group-sm">
            <input type="text" id="NumeroBoleto3" class="form-control lockSiafem numeros barras" maxlength="5" />
        </div>
    </div>

    <div class="col-sm-12 col-lg-1 col-md-1  form-group-sm form-group has-feedback  boleto">
        <div class="input-group-sm">
            <input type="text" id="NumeroBoleto4" class="form-control lockSiafem numeros barras" maxlength="6" />
        </div>
    </div>

    <div class="col-sm-12 col-lg-1 col-md-1  form-group-sm form-group has-feedback  boleto">
        <div class="input-group-sm">
            <input type="text" id="NumeroBoleto5" class="form-control lockSiafem numeros barras" maxlength="5" />
        </div>
    </div>

    <div class="col-sm-12 col-lg-1 col-md-1  form-group-sm form-group has-feedback  boleto">
        <div class="input-group-sm">
            <input type="text" id="NumeroBoleto6" class="form-control lockSiafem numeros barras" maxlength="6" />
        </div>
    </div>

    <div class="col-sm-12 col-lg-1 col-md-1  form-group-sm form-group has-feedback  boleto">
        <div class="input-group-sm">
            <input type="text" id="NumeroDigito" class="form-control lockSiafem numeros barras" maxlength="1" />
        </div>
    </div>
    
    <div class="col-sm-12 col-lg-3 col-md-3  form-group-sm form-group has-feedback  boleto">
        <div class="input-group-sm">
            <input type="text" id="NumeroBoleto7" class="form-control lockSiafem numeros barras" maxlength="14" />
        </div>
    </div>
    
    <div id="divbtnLeitorBoleto" class="col-sm-12 col-lg-2 col-md-2 form-group-sm form-group has-feedback">
        <div class="input-group-btn">
            <button id="btnLeitorBoleto" type="button" class="btn btn-primary btn-sm lockProdesp lockSiafem lockSiafisico" onclick="listaDeBoletos.UtilizarLeitor()"><i class="fa"></i>  Utilizar Leitor</button>
        </div>
    </div>
</div>
