<div class="taxa">
    <div class="col-sm-12 col-lg-2 col-md-2 form-group-sm form-group has-feedback taxa">
        <div class="input-group-sm">
            <input type="text" id="NumeroTaxa1" class = "form-control lockSiafem numeros barras" maxlength="12"/>
        </div>
    </div>

    <div class="col-sm-12 col-lg-2 col-md-2 form-group-sm form-group has-feedback taxa">
        <div class="input-group-sm">

            <input type="text" id="NumeroTaxa2" class="form-control lockSiafem numeros barras" maxlength="12" />
            
        </div>
    </div>

    <div class="col-sm-12 col-lg-2 col-md-2 form-group-sm form-group has-feedback taxa">
        <div class="input-group-sm">
            <input type="text" id="NumeroTaxa3" class="form-control lockSiafem numeros barras" maxlength="12" />
        </div>
    </div>

    <div class="col-sm-12 col-lg-2 col-md-2 form-group-sm form-group has-feedback taxa">
        <div class="input-group-sm">
            <input type="text" id="NumeroTaxa4" class="form-control lockSiafem numeros barras" maxlength="12" />
        </div>
    </div>

    <div id="divbtnLeitorTaxa" class="col-sm-12 col-lg-2 col-md-2 form-group-sm form-group has-feedback">
        <div class="input-group-btn">
            <button id="btnLeitorTaxa" type="button" class="btn btn-primary btn-sm lockProdesp lockSiafem lockSiafisico" onclick="listaDeBoletos.UtilizarLeitor()"><i class="fa"></i>  Utilizar Leitor</button>
        </div>
    </div>
</div>
