<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sids.Prodesp.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Sids.Prodesp.Infrastructure.Properties.Settings>
      <setting name="UnidadeGestora" serializeAs="String">
        <value>200164</value>
      </setting>
      <setting name="siafem" serializeAs="String">
        <value>https://siafemhom.intra.fazenda.sp.gov.br/siafisico/RecebeMSG.asmx</value>
      </setting>
      <setting name="Sids_Prodesp_Infrastructure_Siafem_RecebeMSG"
        serializeAs="String">
        <value>https://siafemhom.intra.fazenda.sp.gov.br/siafisico/RecebeMSG.asmx</value>
      </setting>
      <setting name="Sids_Prodesp_Prodesp_Reserva_Desevolvomento" serializeAs="String">
        <value>http://10.200.142.198:9680/vhi-xe/session/Pool_IntegracaoReserva</value>
      </setting>
      <setting name="Sids_Prodesp_Infrastructure_siafemProd_RecebeMSG"
        serializeAs="String">
        <value>https://www6.fazenda.sp.gov.br/siafisico/RecebeMSG.asmx</value>
      </setting>
      <setting name="Sids_Prodesp_Prodesp_Reserva_Homologacao" serializeAs="String">
        <value>http://10.200.77.62:9680/vhi-xe/session/Pool_IntegracaoReserva</value>
      </setting>
      <setting name="Sids_Prodesp_Prodesp_Reserva_Producao" serializeAs="String">
        <value>http://10.200.77.62:9680/vhi-xe/session/Pool_IntegracaoReserva</value>
      </setting>
      <setting name="Sids_Prodesp_Prodesp_Empenho_Desevolvomento" serializeAs="String">
        <value>http://10.200.142.198:9680/vhi-xe/session/Pool_IntegracaoEmpenho</value>
      </setting>
      <setting name="Sids_Prodesp_Prodesp_Empenho_Homologacao" serializeAs="String">
        <value>http://10.200.77.62:9680/vhi-xe/session/Pool_IntegracaoEmpenho</value>
      </setting>
      <setting name="Sids_Prodesp_Prodesp_Empenho_Producao" serializeAs="String">
        <value>http://10.200.77.62:9680/vhi-xe/session/Pool_IntegracaoEmpenho</value>
      </setting>
      <setting name="Sids_Prodesp_Infrastructure_ProdespLiquidacaoDespesa_Integracao_DER_SIAFEM_LiqDespesasService"
        serializeAs="String">
        <value>http://10.200.142.198:9680/vhi-xe/session/Pool_IntegracaoLiqDespesas</value>
      </setting>
      <setting name="Sids_Prodesp_Infrastructure_ProdespPagtoContaUnica_Integracao_DER_SIAFEM_PagtoContaUnicaService"
        serializeAs="String">
        <value>http://10.72.1.40:9680/vhi-xe/session/Pool_IntegracaoPagtoContaUnica</value>
      </setting>
      <setting name="Sids_Prodesp_Infrastructure_ProdespPagamentoContaDer_Integracao_DER_SIAFEM_PagtoContaDERService"
        serializeAs="String">
        <value>http://10.200.142.198:9680/vhi-xe/session/Pool_IntegracaoPagtoContaDER</value>
      </setting>
      <setting name="Sids_Prodesp_Infrastructure_ProdespMovimentacao_Integracao_DER_SIAFEM_MovOrcamentariaService"
        serializeAs="String">
        <value>http://10.200.142.198:9680/vhi-xe/session/Pool_IntegracaoMovOrcamentaria</value>
      </setting>
    </Sids.Prodesp.Infrastructure.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>